rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /inventory/{docId} {
      allow read, write: if true;
    }

    match /sales/{docId} {
      allow read, write: if true;
    }

    match /schedules/{docId} {
      allow read, write: if true;
    }

    match /expenses/{docId} {
      allow read, write: if true;
    }
  }
}
